@charset "utf-8";
/* CSS Document */

/*criando uma configuração padrão para todas as tags*/
*{
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}

/*instalando as fontes no servidor*/
@font-face {src: url("../fontes/Roboto-Black.ttf");font-family: roboto-black;}
@font-face {src: url("../fontes/Roboto-Regular.ttf");font-family: roboto-regular;}
@font-face {src: url("../fontes/Roboto-Thin.ttf");font-family: roboto-thin;}

body, html{
    width: 100%;
    height: 100%;
    font-family: roboto-regular;
    font-size: 16px;
    color: #666;
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    background-color: #333;
    text-align: center;
    position: fixed;
    z-index: 2;
}
nav a{
    color: #fff;
    font-family: roboto-thin;
    display: inline-block;
    padding: 0.5% 2% 2%;
    letter-spacing: 1.4px;
    margin-top: 1.5%;
    border-top: 3px solid transparent;
}
nav a:hover{
    border-color: #ff9191;
    color: #ff9191;
}
header{
    width: 100%;
    height: 100%;
    background-image: url("../imagens/header-bg.jpg");
    background-size: cover;
    background-position: center 20%;
}
header h2{
    padding-top: 20%;
    color: #fff;
    font-size: 46px;
    text-align: center;
    font-family: roboto-thin;
    font-weight: lighter;
}
header h3{
    text-align: center;
    color: #fffa;
    font-size: 50px;
    font-family: roboto-black;
    margin-top: 0.8%;
}
section{
    width: 100%;
    height: 100%;
    padding-top: 8%;
}
.titulo{
    text-align: center;
    font-family: roboto-black;
    font-size: 30px;
}
.barra{
    width: 5%;
    border-bottom: 2px solid #ff4343;
    margin: auto;
}
.subtitulo{
    text-align: center;
    font-family: roboto-thin;
    margin-top: 0.8%;
}
#servicos article, #portifolio article, #equipe article{
    width: 30%;
    margin-left: 2.5%;
    float: left;
    text-align: center;
    margin-top: 5%;
}
.iconserv{
    width: 180px;
    height: 180px;
    background-color: #ff9191;
    margin: auto;
    border-radius: 50%;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.iconserv:hover{
    transform: rotate(360deg);
    background-color: #666;
    color: #ff9191;
}
.tituloserv{
    font-family: roboto-black;
    margin: 4%;
}
.descriserv{
    text-align: justify;
}
#portifolio{
    background-color: #ff9191;
    color: #ff4343;
    height: 180%;
}
#portifolio article div{
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
#portifolio article div i{
    position: absolute;
    top: 40%;
    font-size: 60px;
    transition: 0.4s;
     z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(0);
    transition: 0.4s;
}

#portifolio img{
    width: 100%;
    transform: scale(1.1);
    transition: 0.4s;
}

#portifolio article div:hover img{
    transform: scale(1);
    opacity: 0.5s;
    filter: blur(3px);
}

#portifolio article div:hover i{
    transform: scale(1);
}
.tituloport{
    font-family: roboto-black;
    margin-top: 4%;
}

.empresa1, .empresa2, .empresa3, .empresa4{
    width: 100%;
    padding: 2%;
    border: 2px solid #ff9191;
}

.bola1, .bola2, .bola3, .bola4{
width: 100px;
height: 100px;
border-radius: 50%;
float: left;
margin: 0.4%;
}

.bola1{background-image: url("../imagens/11.jpg");background-size: cover;}
.bola2{background-image: url("../imagens/22.jpg");background-size: cover;}
.bola3{background-image: url("../imagens/33.jpg");background-size: cover;}
.bola4{background-image: url("../imagens/44.jpg");background-size: cover;}

.empresa1, .empresa3{
    padding-right: 30%;
    background: linear-gradient(90deg, #fff 70%, #ff9191 70%);
}

.empresa2, .empresa4{
    padding-left: 30%;
    background: linear-gradient(90deg, #ff9191 30%, #fff 30%);
}
.tituloempresa{
    font-family: roboto-black;
    font-size: 20px;
    float: left;
    margin-left: 3%;
}
.descriempresa{
    text-align: justify;
}

#empresa{
    height: 135%;
}
#equipe{
    background: #ff9191;
    color: #fff;
}

#equipe article img{
    border-radius: 50%;
    border: 5px solid #ff4343;
}

.nome{
    font-family: roboto-black;
}

.cargo{
    font-family: roboto-thin;
    margin-bottom: 2%;
}

#equipe article a{
    color: #fff;
    font-size: 20px;
    margin: 2%;
}

#equipe article a:hover{
color: #ff4343;
}

#contato{
    padding-left: 2%;
    padding-right: 2%;
}

#contato article{
    width: 50%;
    float: left;
    margin-top: 3%;
    padding: 2%;
    height: 80%;
}

.campo{
    width: 100%;
    margin: 2px;
    padding: 2%;
    font-size: 16px;
    font-family: roboto-regular;
    resize: none;
}

.botao{
    margin: 2px;
    padding: 2%;
    border: 2px solid transparent;
    background-color: #ff4343;
    color: #fff;
    font-family: roboto-regular;
    width: 100%;
    cursor: pointer;
    margin-top: 1px;
}

.botao:hover{
    border-color: #ff4343;
    background-color: transparent;
    color: #ff4343;
}

footer{
    width: 100%;
    background-color: #ff4343;
    color: #fff;
    padding: 1%;
}